@using Octokit
@model IReadOnlyList<Organization>

@{
    ViewData["Title"] = "Organizations";
}

<h1>Organizations</h1>
<h3>Index</h3>

<div class="row">
    @foreach (var organization in Model)
    {
        <div class="col-3">
            <div class="p-2">
                <div class="card">
                    <img src="@organization.AvatarUrl" class="card-img-top" alt="organization-avatar">
                    <div class="card-body">
                        <h5 class="card-title">@organization.Login</h5>
                    </div>
                </div>
            </div>            
        </div>
    }
</div>
